**ASSIGNMENT 2**

QUESTION 1


Create an empty list. Accept 10 numbers from the user and append to it the list if it is an even number.

In [ ]:
l=(17,20,19,63,45,83,94,78,34,0)
for i in l:
  if i%2==0:
    print(i,end=" ")

20 94 78 34 0

QUESTION 2

Create a notebook on LIST COMPREHENSION. This exercise is to put you in a Self learning mode

In [ ]:
l=[1,2,3,4,34,56,7.3,8,"hello",6.3,"lets learn"]
for i in l:
  print (i, end=" \n")
print (type(i))

1
2
3
4
34
56
7.3
8
hello
6.3
lets learn
<class 'str'>

In [ ]:
for i in l:
  print (i * 2,end =" \n")
l.append("letsupgarde")
print(l)

4.6
14
16690
130
684
131536
46.9
letsupgardeletsupgarde
letsupgardeletsupgarde
letsupgardeletsupgarde
[2.3, 7, 8345, 65, 342, 65768, 23.45, 'letsupgarde', 'letsupgarde', 'letsupgarde', 'letsupgarde']

In [ ]:
list1= [2.3,46,7,8345,65,342,65768,23.45]
l = list(list1)
print (l)
print (l[2])
print(l[2:8])
print (l[1]==l[-2])
print (l[:8])
l.remove(46)
print(l)

[2.3, 46, 7, 8345, 65, 342, 65768, 23.45]
7
[7, 8345, 65, 342, 65768, 23.45]
False
[2.3, 46, 7, 8345, 65, 342, 65768, 23.45]
[2.3, 7, 8345, 65, 342, 65768, 23.45]

QUESTION 3

You have seen in the videos how powerful dictionary data structure is.
In this assignment, given a number n, you have to write a program that generates a dictionary d which
contains (i, i*i), where i is from 1 to n (both included).
Then you have to just print this dictionary d.

In [ ]:
n=int (input("enter a number"))
dic = dict ()


for i in range(1,n+1):
  dic[i]= i*i


print(d)

enter a number10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

QUESTION 4

There is a robot which wants to go the charging point to charge itself.
The robot moves in a 2-D plane from the original point (0,0). The robot can
move toward UP, DOWN, LEFT and RIGHT with given steps.
The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2
The numbers after the direction are steps.
Write a program to compute the distance between the current position after
a sequence of movement and original point. If the distance is a float, then
just print the nearest integer (use round() function for that and then convert
it into an integer).
Input Format:
The first line of the input contains a number n which implies the number of
directions to be given.
The next n lines contain the direction and the step separated by a space.
Output Format:
Print the distance from the original position to the current position.

In [6]:
 a = 3
if a==3:
  print ("left")
elif a==5:
  print("up")
elif a==1:
  print("down")
elif a==2:
  print("right")
else :
  print("none")

left